@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
}

.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar a{
    text-decoration: none;
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
    height: 100vh;
	padding: 2rem 1rem;
	background-color: #2e3047;
    position: fixed;
}

.sidebar h3 {
	color: white;
	font-size: 3vw;
	text-transform: uppercase;
	margin-bottom: 0.5em;
    text-align: center;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
    text-align: center;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;
}

/* ============================================ */

.content {
	flex: 1 1 0;
	padding: 2rem;
    margin-left: 16%;
    padding-bottom: 5%;
}

.announce h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.blog a{
    text-decoration: none;
    color: black;
}

.blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(SundaySchooltings/pressingAhead.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.blog h1{
    font-size: 5vw;
    color: white;
}

.blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
}

.blog  .blogInfo p{
    font-size: 2vw;
}

/* ============================================ */

.column2{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column2 .blog{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/noicelandscape.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column2 .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column2 .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column2 .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column2 .blog  .blogInfo p{
    font-size: 1.3vw;
}

.column2 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/GROUND.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column2 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column2 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column2 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column2 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ================================================= */

.column2{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column2 .blog3{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/noicelandscape.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column2 .blog3 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column2 .blog3 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column2 .blog3  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column2 .blog3  .blogInfo p{
    font-size: 1.3vw;
}

.column2 .blog4{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/GROUND.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column2 .blog4 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column2 .blog4 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column2 .blog4  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column2 .blog4  .blogInfo p{
    font-size: 1.3vw;
}

/* ================================================= */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}

.sundayNews .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(AnnounceIMGs/Sunday\ School\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.sundayNews .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sundayNews .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.sundayNews .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.sundayNews .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column3{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column3 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/MPgoodnews.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column3 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column3 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column3 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column3 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column3 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/MPgoodnews1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column3 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column3 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column3 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column3 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

.column3 .blog3{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/MPgoodnews2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column3 .blog3 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column3 .blog3 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column3 .blog3 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column3 .blog3  .blogInfo p{
    font-size: 1.3vw;
}

.column3 .blog4{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/MPgoodnews5.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column3 .blog4 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column3 .blog4 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column3 .blog4 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column3 .blog4  .blogInfo p{
    font-size: 1.3vw;
}

/* ====================================================== */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.wildfire .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/Wildfire.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.wildfire .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.wildfire .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.wildfire .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.wildfire .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column4{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column4 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/breaking.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column4 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column4 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column4 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column4 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column4 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/puzzle.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column4 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column4 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column4 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column4 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

.column4 .blog3{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/fullblast.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column4 .blog3 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column4 .blog3 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column4 .blog3 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column4 .blog3  .blogInfo p{
    font-size: 1.3vw;
}

.column4 .blog4{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)), url(AnnounceIMGs/facetoface.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column4 .blog4 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column4 .blog4 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column4 .blog4 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column4 .blog4  .blogInfo p{
    font-size: 1.3vw;
}

/* ==================================================== */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.j12kids .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/kids.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.j12kids  .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.j12kids  .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.j12kids  .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.j12kids  .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column5{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column5 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/kids1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column5 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column5 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column5 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column5 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column5 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/J12Kids1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column5 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column5 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column5 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column5 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ================================================ */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.spear .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/spearhead.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.spear .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.spear .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.spear .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.spear .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column6{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column6 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/remember.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column6 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column6 .blog1 .blogInfo:hover{
    border: 1px solid #2C5F2D;
}   

.column6 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column6 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column6 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/coffe.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column6 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column6 .blog2 .blogInfo:hover{
    border: 1px solid #2C5F2D;
}   

.column6 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column6 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

.column6 .blog3{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/pizza.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column6 .blog3 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column6 .blog3 .blogInfo:hover{
    border: 1px solid #2C5F2D;
}   

.column6 .blog3 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column6 .blog3  .blogInfo p{
    font-size: 1.3vw;
}

.column6 .blog4{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)), url(AnnounceIMGs/buti.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column6 .blog4 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column6 .blog4 .blogInfo:hover{
    border: 1px solid #2C5F2D;
}   

.column6 .blog4 .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column6 .blog4  .blogInfo p{
    font-size: 1.3vw;
}

/* ================================================ */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.m4life .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/married.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.m4life   .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.m4life   .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.m4life   .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.m4life   .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column7{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column7 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/mass.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column7 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column7 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column7 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column7 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column7 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(AnnounceIMGs/just\ the\ two\ of\ us.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column7 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column7 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column7 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column7 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ================================================ */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.mentor .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/Mentor.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.mentor .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.mentor .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.mentor .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.mentor .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column8{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column8 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/mentor1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column8 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column8 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column8 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column8 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column8 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/mentor2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column8 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column8 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column8 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column8 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ========================================= */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.life .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/lifeclass.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.life .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.life .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.life .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.life .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column9{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column9 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/lifeclass2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column9 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column9 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column9 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column9 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column9 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/lifeclass1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column9 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column9 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column9 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column9 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ========================================= */

.sundayService{
    display: block;
}

.sundayService h1{
    color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.sol .blog{
    display: block;
    margin: auto;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(AnnounceIMGs/Solclass.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.sol .blog .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sol .blog .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.sol .blog  .blogInfo h1{
    font-family: 'Sono';
    font-size: 5vw;
    color: transparent;
}

.sol .blog  .blogInfo p{
    font-size: 2vw;
    color: transparent;
}

.column10{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.column10 .blog1{
    display: block;
    margin-right: 2%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/sol3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column10 .blog1 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column10 .blog1 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column10 .blog1  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column10 .blog1  .blogInfo p{
    font-size: 1.3vw;
}

.column10 .blog2{
    display: block;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/solclass1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform .2s;
}

.column10 .blog2 .blogInfo{
    color: white;
    text-align: left;
    padding-top: 30%;
    padding-bottom: 7%;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.column10 .blog2 .blogInfo:hover{
    border: 1px solid #f7c5cc;
}   

.column10 .blog2  .blogInfo h1{
    font-family: 'Sono';
    font-size: 2vw;
}

.column10 .blog2  .blogInfo p{
    font-size: 1.3vw;
}

/* ========================================= */

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
        padding: 1rem;
		padding-top: 5rem;
        margin-left: 0%;
        padding-bottom: 2rem;
	}

    .sidebar .menu .menu-item {
        display: block;
        padding: 1em;
        color: #FFF;
        text-decoration: none;
        transition: 0.2s linear;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

    .sidebar h3{
        font-size: 8vw;
    }

	.sidebar.is-active {
		left: 0;
	}

    .blog{
        display: block;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(SundaySchooltings/pressingAhead.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        transition: transform .2s;
    }

    .blog .blogInfo{
        color: white;
        text-align: left;
        padding-top: 24%;
        padding-bottom: 7%;
        text-indent: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 8vw;
    }
    
    .blog  .blogInfo p{
        font-size: 4vw;
    }

    .column2{
        display: flex;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        justify-content: space-evenly;
    }
    
    .column2 .blog{
        display: block;
        margin-right: 2%;
        width: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/noicelandscape.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        transition: transform .2s;
    }
    
    .column2 .blog .blogInfo{
        color: white;
        text-align: left;
        padding-top: 30%;
        padding-bottom: 7%;
        text-indent: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .column2 .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 2vw;
    }
    
    .column2 .blog  .blogInfo p{
        font-size: 1.3vw;
    }
    
    .column2 .blog2{
        display: block;
        margin: auto;
        width: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url(AnnounceIMGs/GROUND.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        transition: transform .2s;
    }
    
    .column2 .blog2 .blogInfo{
        color: white;
        text-align: left;
        padding-top: 30%;
        padding-bottom: 7%;
        text-indent: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .column2 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 2vw;
    }
    
    .column2 .blog2  .blogInfo p{
        font-size: 1.3vw;
    }
    
    /* ================================================= */
    
    .column2{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column2 .blog{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column2 .blog .blogInfo{
        padding-top: 20%;
    }
    
    .column2 .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column2 .blog  .blogInfo p{
        font-size: 3vw;
    }
    
    .column2 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column2 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column2 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column2 .blog2  .blogInfo p{
        font-size: 3vw;
    }
    
    .column2 .blog3{
        display: block;
        margin-right: 0%;
        margin-top: 2%;
        width: 100%;
    }
    
    .column2 .blog3 .blogInfo{
        padding-top: 20%;
    }
    
    .column2 .blog3 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog3  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column2 .blog3  .blogInfo p{
        font-size: 3vw;
    }
    
    .column2 .blog4{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column2 .blog4 .blogInfo{
        padding-top: 20%;
    }
    
    .column2 .blog4 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column2 .blog4  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column2 .blog4  .blogInfo p{
        font-size: 3vw;
    }

     /* ================================================= */

     .sundayNews .blog{
        display: block;
        margin: auto;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(AnnounceIMGs/Sunday\ School\ \(1\).jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        transition: transform .2s;
    }
    
    .sundayNews .blog1 .blogInfo{
        color: white;
        text-align: left;
        padding-top: 30%;
        padding-bottom: 7%;
        text-indent: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .sundayNews .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .sundayNews .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .sundayNews .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

     .column3{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column3 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column3 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column3 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column3 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column3 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column3 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column3 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column3 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column3 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column3 .blog2  .blogInfo p{
        font-size: 3vw;
    }
    
    .column3 .blog3{
        display: block;
        margin-right: 0%;
        margin-top: 2%;
        width: 100%;
    }
    
    .column3 .blog3 .blogInfo{
        padding-top: 20%;
    }
    
    .column3 .blog3 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column3 .blog3  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column3 .blog3  .blogInfo p{
        font-size: 3vw;
    }
    
    .column3 .blog4{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column3 .blog4 .blogInfo{
        padding-top: 20%;
    }
    
    .column3 .blog4 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column3 .blog4  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column3 .blog4  .blogInfo p{
        font-size: 3vw;
    }

       /* ================================================= */

    .wildfire .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .wildfire .blog .blogInfo{
        padding-top: 30%;
    }
    
    .wildfire .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .wildfire .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .wildfire .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column4{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column4 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column4 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column4 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column4 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column4 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column4 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column4 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column4 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column4 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column4 .blog2  .blogInfo p{
        font-size: 3vw;
    }
    
    .column4 .blog3{
        display: block;
        margin-right: 0%;
        margin-top: 2%;
        width: 100%;
    }
    
    .column4 .blog3 .blogInfo{
        padding-top: 20%;
    }
    
    .column4 .blog3 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column4 .blog3  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column4 .blog3  .blogInfo p{
        font-size: 3vw;
    }
    
    .column4 .blog4{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column4 .blog4 .blogInfo{
        padding-top: 20%;
    }
    
    .column4 .blog4 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column4 .blog4  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column4 .blog4  .blogInfo p{
        font-size: 3vw;
    }

    /* ================================================= */

    .j12kids .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .j12kids .blog .blogInfo{
        padding-top: 30%;
    }
    
    .j12kids .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .j12kids .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .j12kids.blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column5{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column5 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column5 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column5 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column5 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column5 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column5 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column5 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column5 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column5 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column5 .blog2  .blogInfo p{
        font-size: 3vw;
    }

    
    /* ================================================= */

    .spear .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .spear .blog .blogInfo{
        padding-top: 30%;
    }
    
    .spear .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   

    .spear .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .spear .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column6{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column6 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column6 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column6 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column6 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column6 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column6 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column6 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column6 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column6 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column6 .blog2  .blogInfo p{
        font-size: 3vw;
    }
    
    .column6 .blog3{
        display: block;
        margin-right: 0%;
        margin-top: 2%;
        width: 100%;
    }
    
    .column6 .blog3 .blogInfo{
        padding-top: 20%;
    }
    
    .column6 .blog3 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column6 .blog3  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column6 .blog3  .blogInfo p{
        font-size: 3vw;
    }
    
    .column6 .blog4{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column6 .blog4 .blogInfo{
        padding-top: 20%;
    }
    
    .column6 .blog4 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column6 .blog4  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column6 .blog4  .blogInfo p{
        font-size: 3vw;
    }

      /* ================================================= */

    .m4life .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .m4life .blog .blogInfo{
        padding-top: 30%;
    }
    
    .m4life .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .m4life .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .m4life .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column7{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column7 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column7 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column7 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column7 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column7 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column7 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column7 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column7 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column7 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column7 .blog2  .blogInfo p{
        font-size: 3vw;
    }

    /* ================================================= */

    .mentor .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .mentor .blog .blogInfo{
        padding-top: 30%;
    }
    
    .mentor .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .mentor .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .mentor .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column8{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column8 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column8 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column8 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column8 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column8 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column8 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column8 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column8 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column8 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column8 .blog2  .blogInfo p{
        font-size: 3vw;
    }

    /* ================================================= */

    .life .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .life .blog .blogInfo{
        padding-top: 30%;
    }
    
    .life .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .life .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .life .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column9{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column9 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column9 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column9 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column9 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column9 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column9 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column9 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column9 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column9 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column9 .blog2  .blogInfo p{
        font-size: 3vw;
    }

    /* ================================================= */

    .sol .blog{
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .sol .blog .blogInfo{
        padding-top: 30%;
    }
    
    .sol .blog .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .sol .blog  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
        color: transparent;
    }
    
    .sol .blog  .blogInfo p{
        font-size: 2vw;
        color: transparent;
    }

    .column10{
        display: block;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        justify-content: none;
    }

    .column10 .blog1{
        display: block;
        margin-right: 2%;
        width: 100%;
    }
    
    .column10 .blog1 .blogInfo{
        padding-top: 20%;
    }
    
    .column10 .blog1 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column10 .blog1 .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column10 .blog1  .blogInfo p{
        font-size: 3vw;
    }
    
    .column10 .blog2{
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 100%;
    }
    
    .column10 .blog2 .blogInfo{
        padding-top: 20%;
    }
    
    .column10 .blog2 .blogInfo:hover{
        border: 1px solid #f7c5cc;
    }   
    
    .column10 .blog2  .blogInfo h1{
        font-family: 'Sono';
        font-size: 5vw;
    }
    
    .column10 .blog2  .blogInfo p{
        font-size: 3vw;
    }
    
}