*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.webTop{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(AnnounceIMGs/JILBanner.jpg);
    background-size: cover;
    padding-bottom: 15%;
}

.navbar{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav ul li a:hover{
    color: #AAC4FF;
    
}

.logoIcon{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}

.menuIcon{
    width: 35px;
    cursor: pointer;
    display: none;
}

/*=====================Main Announcements=======================*/
/* body{
} */
.report{
    margin-left: 18%;
    margin-right: 18%;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 20px;
}

.report:hover{
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
}

.report img{
    display: block;
    border-radius: 20px;
    margin-top: -300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.report .textOne{
    padding-top: 1%;
}

.textOne #noice{
    padding-left: 3px;
    font-size: 1vw;
}

.textOne h5{
    padding-left: 3px;
    font-size: 1vw;
}

.textOne h1{
    font-size: 3vw;
}

/*=====================Announcements=======================*/

.report1{
    padding-top: 10%;
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
}

/*=====================News Section=======================*/

.newsSection{
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 5%;
}

/*=====================Row1=======================*/

.row1{
    display: flex;
    justify-content: center;
}

/*=====================News1=======================*/

.news1{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news1:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.news1 img{
    width: 100%;
    padding: 0;
}

.textArea1{
    background: rgb(15,145,173);
    background: linear-gradient(90deg, rgba(15,145,173,1) 63%, rgba(114,210,232,1) 87%, rgba(209,222,223,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea1 p{
    font-size: 0.8vw;
}

.textArea1 h1{
    font-size: 2vw;
}

.textArea1 h5{
    font-size: 0.6vw;
}

/*=====================News2=======================*/

.news2{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news2:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.news2 img{
    width: 100%;
}

.textArea2{
    background: rgb(67,218,91);
    background: linear-gradient(90deg, rgba(67,218,91,1) 63%, rgba(181,217,164,1) 87%, rgba(206,224,210,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea2 p{
    font-size: 0.8vw;
}

.textArea2 h1{
    font-size: 2vw;
}

.textArea2 h5{
    font-size: 0.6vw;
}

/*=====================News3=======================*/

.news3{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news3:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.news3 img{
    width: 100%;
}

.textArea3{
    background: rgb(15,145,173);
    background: linear-gradient(90deg, rgba(15,145,173,1) 63%, rgba(114,210,232,1) 87%, rgba(209,222,223,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea3 p{
    font-size: 0.8vw;
}

.textArea3 h1{
    font-size: 2vw;
}

.textArea3 h5{
    font-size: 0.6vw;
}

/*=====================Row2=======================*/

.row2{
    display: flex;
    justify-content: center;
}

/*=====================News4=======================*/

.news4{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news4:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.news4 img{
    width: 100%;
}

.textArea4{
    background: rgb(30,30,241);
    background: linear-gradient(90deg, rgba(30,30,241,1) 22%, rgba(20,32,145,1) 53%, rgba(12,23,77,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea4 p{
    font-size: 0.8vw;
}

.textArea4 h1{
    font-size: 2vw;
}

.textArea4 h5{
    font-size: 0.6vw;
}

/*=====================News5=======================*/

.news5{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news5:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.news5 img{
    width: 100%;
}

.textArea5{
    background: rgb(231,36,225);
    background: linear-gradient(90deg, rgba(231,36,225,1) 22%, rgba(244,128,228,1) 53%, rgba(242,209,240,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea5 p{
    font-size: 0.8vw;
}

.textArea5 h1{
    font-size: 2vw;
}

.textArea5 h5{
    font-size: 0.6vw;
}

/*=====================News6=======================*/

.news6{
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.news6:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.news6 img{
    width: 100%;
}

.textArea6{
    background: rgb(15,145,173);
    background: linear-gradient(90deg, rgba(15,145,173,1) 63%, rgba(114,210,232,1) 87%, rgba(209,222,223,1) 100%);
    color: white;
    padding: 5%;
    border-bottom: 5px solid #142022;
}

.textArea6 p{
    font-size: 0.8vw;
}

.textArea6 h1{
    font-size: 2vw;
}

.textArea6 h5{
    font-size: 0.6vw;
}

.bottomLinks{
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #6f7755;
    color: white;
}

.demnSon{
    margin-right: 2%;
}

.demnSon h1{
    font-size: 3.5vw;
}

.demnSon h1:hover{
    color: #B1B2FF;
}

.demnSon a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

.demnSon a:hover{
    color: #B1B2FF;
    cursor: pointer;
}

.demnSon p{
    font-size: 1.3vw;
}

.demnSon p:hover{
    color: #B1B2FF;
}


/* ================================================ */

.bottomForm{
    width: 60%;
    margin-left: 5%;
}

.bottomForm h1{
    font-size: 2.5vw;
}

.bottomForm p{
    font-size: 1.3vw;
    margin-bottom: 5%;
}

.bottomForm form{
    border: 1px white solid;
    padding: 7%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.bottomForm form label{
    padding-top: 2%;
}

.bottomForm form input{
    width: 100%;
    background: none;
    outline: none;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-bottom: white 1px solid;
    margin-bottom: 2%;
    font-size: 1.3vw;
    color: white;
}

.bottomForm form button{
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    margin: 2px 0 2px 0;
    padding: 15px;  
    color: white;
    cursor: pointer;
    transition: transform .2s;
}

.bottomForm form button:hover{
    transform: scale(1.1);
}
/*=============================================*/

@media only screen and (max-width:1550px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -250px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1000px;
    }
}

/*=============================================*/

@media only screen and (max-width:1300px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 900px;
    }
}

/*=============================================*/

@media only screen and (max-width:1100px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 750px;
    }
}

/*=============================================*/

@media only screen and (max-width:1000px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 650px;
    }
}

/*=============================================*/

@media only screen and (max-width:900px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -150px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 650px;
    }
}

/*=============================================*/

@media only screen and (max-width:800px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -150px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 550px;
    }
}

/*=============================================*/

@media only screen and (max-width:750px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -130px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 450px;
    }
}

/*=============================================*/

@media only screen and (max-width:685px){
    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -110px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 440px;
    }
}

/*=============================================*/

@media only screen and (max-width:500px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        scroll-behavior: smooth;
    }

    .logoIcon{
        width: 45px;
    }

    .menuIcon{
        width: 40px;
        display: block;
    }

    nav ul{
        margin-top: 30px;
        width: 100%;
        background: black;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: none;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .churchName{
        padding: 5%;
        padding-bottom: 20%;
    }

    .churchName h1{
       font-size: 50px;
       color: white;
    }

    .churchName h2{
        font-size: 10px;
        color: white;
    }

    .webTop{
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(AnnounceIMGs/WebviewBanner.png);
    }

    .report{
        justify-content: center;
    }
    
    .report img{
        display: block;
        border-radius: 20px;
        margin-top: -15%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 300px;
    }
}