* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEF1FF;
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(HeadnFooter/connectsImg.jpg);
}

.header {
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logoo {
    width: 100px;
    margin-left: 10px;
    padding: 10px;
}


.navbar {
    height: 100%;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar li:hover {
   border-bottom: 3px solid #B1B2FF;
}

/*-------------------------------------------------------------------*/

.button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.button .noice {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*@media (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        display: flex;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar ul li a {
        padding: .5rem 1rem;
    }

    .navbar.active {
        display: flex;
    }
}

/* Churh Name */

.noice{
    padding: 80px;
    padding-bottom: 160px;
    margin: auto;
    text-align: center;
}

.noice .jil{
    font-size: 100px;
    color: white;
}

/*-------------------------------------------------------------------*/




/*Footer*/ /*-------------------------------------------------------------------*/

.flinks {
    padding: 60px;
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    border-top-style: solid;
}
.flinks .findex{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .findex a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .findex a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fconnects{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fconnects a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fconnects a p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fmedia{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fmedia a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fmedia a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fequipping{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fequipping a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fequipping a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fannounce{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fannounce a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fpr{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fpr a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/*==========================================*/

.programsYarn{
    margin-top: 100px;
    margin-left: 130px;
}

.programsYarn h1{
    font-size: 50px;
}

/*==========================================*/

.services{
    padding: 50px;
    border-radius: 50px;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    background-color: #D2DAFF;
}

.sundayServices{
    position: relative;
    width: 450px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50px;
    transition: transform .2s;
}

.sundayServices img{
    display: block;
    width: 100%;
}

.sundayServices:hover{
    transform: scale(1.1);
}

.sundayServices img:hover{
    border: 4px solid #B1B2FF;
    border-radius: 50px;
}

/*==========================================*/

.jkids{
    width: 450px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50px;
    transition: transform .2s;
}

.jkids img{
    display: block;
    width: 100%;
}

.jkids:hover{
    transform: scale(1.1);
}

.jkids img:hover{
    border: 4px solid #B1B2FF;
    border-radius: 50px;
}

/*==========================================*/

.threePrograms .spearhead{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.spearhead img{
    display: block;
    width: 100%;
}

.spearhead:hover{
    transform: scale(1.1);
}

.spearhead img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/

.threePrograms .married4layp{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
}

.married4layp img{
    display: block;
    width: 100%;
}

.married4layp img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/

.threePrograms .wildfire{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
}

.wildfire img{
    display: block;
    width: 100%;
}

.wildfire img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/





