
/*==========================================*/

.services{
    padding: 50px;
    border-radius: 50px;
    display: flex;
    margin: auto;
    max-width: 1200px;
    background-color: #D2DAFF;
}

.sundayServices{
    position: relative;
    width: 450px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50px;
    transition: transform .2s;
}

.sundayServices img{
    display: block;
    width: 100%;
}

.sundayServices:hover{
    transform: scale(1.1);
}

.sundayServices img:hover{
    border: 4px solid #B1B2FF;
    border-radius: 50px;
}

/*==========================================*/

.jkids{
    width: 450px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50px;
    transition: transform .2s;
}

.jkids img{
    display: block;
    width: 100%;
}

.jkids:hover{
    transform: scale(1.1);
}

.jkids img:hover{
    border: 4px solid #B1B2FF;
    border-radius: 50px;
}

/*==========================================*/

.threePrograms .spearhead{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.spearhead img{
    display: block;
    width: 100%;
}

.spearhead:hover{
    transform: scale(1.1);
}

.spearhead img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/

.threePrograms .married4layp{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.married4layp img{
    display: block;
    width: 100%;
}

.married4layp:hover{
    transform: scale(1.1);
}

.married4layp img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/

.threePrograms .wildfire{
    width: 620px;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.wildfire img{
    display: block;
    width: 100%;
}

.wildfire:hover{
    transform: scale(1.1);
}

.wildfire img:hover{
    border: 3px solid #B1B2FF;
    border-radius: 20px;
}

/*==========================================*/





