
.upperPos{
    margin: auto;
    display: flex;
}

.images{
    padding: 100px;
    display: flex;
    padding-bottom: 500px;
}

.image1 img{
    margin-left: 250px;
    margin-top: 100px;
    position: relative;
    width: 300px;
    transition: transform .2s;
}

.image1 img:hover{
    transform: scale(1.1);
}

.image2 img{
    position: absolute;
    width: 300px;
    margin-left: -70px;
    margin-top: 210px;
    transition: transform .2s;
}

.image2 img:hover{
    transform: scale(1.1);
}

.image3 img{
    position: absolute;
    width: 250px;
    margin-left: -270px;
    margin-top: 250px;
    transition: transform .2s;
}

.image3 img:hover{
    transform: scale(1.1);
}

/*----------------------------------------*/

.text{
    margin-top: 200px;
    margin-left: 160px;
    margin-right: 350px;
    padding: 10px;
}

.description h1{
    font-size: 50px;
}

.description p{
    font-size: 20px;
    text-align: justify;
}

/*----------------------------------------*/

a{
    text-decoration: none;
    color: black;
}

.choices{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.choices .mentoring{
    flex: 1;
    border: 2px solid #B1B2FF;
    background-color: #D2DAFF;
    margin: 10px;
    padding: 10px;
    transition: transform .2s;
}

.mentoring p{
    text-align: center;
}

.mentoring img{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.mentoring:hover{
    transform: scale(1.1);
}

/*----------------------------------------*/

.choices .sol{
    flex: 1;
    border: 2px solid #B1B2FF;
    background-color: #D2DAFF;
    margin: 10px;
    padding: 10px;
    transition: transform .2s;
}

.sol p{
    text-align: center;
}

.sol img{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.sol:hover{
    transform: scale(1.1);
}



/*----------------------------------------*/

.choices .lifeclass{
    border: 2px solid #B1B2FF;
    background-color: #D2DAFF;
    flex: 1;
    margin: 10px;
    padding: 10px;
    transition: transform .2s;
}

.lifeclass p{
    text-align: center;
}

.lifeclass img{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.lifeclass:hover{
    transform: scale(1.1);
}

#nice{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


