@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: black;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1550px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img{
  width: 70%;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 1.3vw;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: yellow;
  z-index: 2;
}

.icon{
  cursor: pointer;
  display: none;
}
.icon img{
  width: 100%;
  max-width: 50px;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
    z-index: 2;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}




/* Slideshow container */
.slide{
  box-sizing: border-box;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: none;
  padding: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: #717171;
  position: absolute;
  bottom: 5%;
  font-size: 4vw;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5vh;
  width: 0.7vw;
  margin: 0 2px;
  background-color: #662020;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.container em{
  font-weight: bold;
  text-decoration: underline;
}

.container h1{
  font-family: 'AudioWide';
  margin-top: 5%;
  font-size: 3vw;
  text-align: center;
}

.container p{
  margin-top: 7%;
  font-size: 1.9vw;
}

#word{
  margin-top: 3%;
  font-size: 1.9vw;
}

/* ================================================ */

.desc{
  display: block;
  justify-content: center;
  background-color: #eceaea;
}

a{
  text-decoration: none;
  color: white;
}

.desc h1{
  font-family: 'AudioWide';
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 4vw;
}

.desc p{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.9vw; 
  padding-bottom: 3%;
}

.aboutUs{
  display: flex;
  color: white;
  margin-bottom: 5%;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(HeadnFooter/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.vision{
  width: 33.3%;
  padding: 5%;
  transition: 0.5s;
  cursor: pointer;
}

.vision h1{
  font-family: 'AudioWide';
  text-align: center;
  margin-bottom: 10%;
  font-size: 3vw;
}

.vision p{
  font-size: 1.7vw;
  text-align: center;
}

.vision:hover{
  background-color: white;
  color: black;
}

/* ================================================ */

.pastorContainer{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}

.pastorContainer h1{
  font-family: 'AudioWide';
  font-size: 3vw;
  text-align: center;
}

.pastors{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.pastors img{
  width: 50%;
  border-radius: 50%;
}

.pText{
  margin-left: 3%;
}

.pText h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
}

.pText p{
  font-size: 1.5vw;
}

/* ================================================ */

.cSection{
  display: block;
  color: white;
}

.row1{
  display: flex;
}

.sunday{
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/sundayschool.png);
  background-size: cover;
  color: white;
  flex: 1;
}

.sundayDesc{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
}

.sundayDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.sundayDesc h2{
  font-family: 'AudioWide';
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 5%;
}

.sundayDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.sundayDesc:hover{
  background-color: #FBEAEB;
  color: #2F3C7E;
}

/* ================================================ */

.wildfire{
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/Wildfire.jpg);
  background-size: cover;
  color: white;
  flex: 1;
}

.wildfireDesc{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
}

.wildfireDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.wildfireDesc h2{
  font-family: 'AudioWide';
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 5%;
}

.wildfireDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.wildfireDesc:hover{
  background-color: black;
  color: yellow;
}

/* ================================================ */

.row2{
  display: flex;
}

.j12{
  align-items: center;
  width: 33%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/kids.jpg);
  background-size: cover;
  color: white;
  flex: 1;
}

.j12Desc{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  height: 100%;
}

.j12Desc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.j12Desc h2{
  font-family: 'AudioWide';
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 5%;
}

.j12Desc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.j12Desc:hover{
  background-color: #00FFFF;
  color: #FF69B4;
}

/* ================================================ */

.spearhead{
  width: 34%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/Spearheadmobile.png);
  background-size: cover;
  color: white;
  flex: 1;
}

.spearheadDesc{
  padding-top: 15%;
  padding-bottom: 12%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  height: 100%;
}

.spearheadDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.spearheadDesc h2{
  font-family: 'AudioWide';
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 5%;
}

.spearheadDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.spearheadDesc:hover{
  background-color: #FFE77AFF;
  color: #2C5F2DFF;
}

.married{
  width: 33%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/married.jpg);
  background-size: cover;
  color: white;
  flex: 1;
}

/* ================================================ */

.marriedDesc{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  height: 100%;
}

.marriedDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.marriedDesc h2{
  font-family: 'AudioWide';
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 5%;
}

.marriedDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.marriedDesc:hover{
  background-color: #f7c5cc;
  color: #cc313d;
}

/* ================================================ */

.equip{
  display: flex;
}

.mentoring{
  align-items: center;
  width: 33%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/mentoring.png);
  background-size: cover;
  color: white;
  flex: 1;
}

.mentoringDesc{
  padding-top: 20%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  height: 100%;
}

.mentoringDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.mentoringDesc p{
  font-size: 1.4vw;
  text-align: center;
}

.mentoringDesc:hover{
  background-color: #FFA3FD;
  color: #191825;
}

/* ================================================ */

.solclass{
  width: 34%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(HeadnFooter/solclassPortrait.png);
  background-size: cover;
  color: white;
  flex: 1;
}

.solDesc{
  padding-top: 15%;
  padding-bottom: 12%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  height: 100%;
}

.solDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.solDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.solDesc:hover{
  background-color: #FBFFB1;
  color: #FFACAC;
}

/* ================================================ */

.lifeclass{
  width: 33%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(HeadnFooter/lifeclasslandscae.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  flex: 1;
}

.lifeclassDesc{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  height: 100%;
}

.lifeclassDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
  text-align: center;
}

.lifeclassDesc p{
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 5%
}

.lifeclassDesc:hover{
  background-color: #F7C5CC;
  color: #CC313D;
}

/* ================================================ */

.photos{
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.mediaImg img{
  width: 100%;
  border-radius: 50%;
}

.mediaDesc{
  margin-left: 3%;
}

.mediaDesc h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
}

.mediaDesc p{
  font-size: 1.5vw;
}

.mediaDesc .button {
  border-radius: 4px;
  background-color: #e23c52;
  border: none;
  color: #bdfff6;
  text-align: center;
  font-size: 1.3vw;
  padding: 2%;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%;
}

.button h1{
  font-size: 1.3vw;
}

.mediaDesc .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mediaDesc .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  width: 18%;
}

.mediaDesc .button:hover span {
  padding-right: 13%;
}

.mediaDesc .button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ================================================ */

.pandA{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.brrr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.brrr a{
  color: white;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
  font-family: 'AudioWide';
  font-size: 1.4vw;
  background-color: black;
}

.prayerReq{
  text-align: left;
  padding-bottom: 5%;
}

.prayerReq span{
  text-align: right;
}

.prayerReq h1{
  font-family: 'AudioWide';
  font-size: 3vw;
}

.prayerReq p{
  font-size: 2vw;
  text-align: justify;
}

.scroll{
  margin-left: 2%;
  margin-right: 2%;
  border: 1px black solid;
  padding: 4%;
  border-radius: 10px;
  height: 500px;
  margin-bottom: 5%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #ECF9FF;
}

.scroll::-webkit-scrollbar{
  display: block;
  width: 50%;
}

.scroll::-webkit-scrollbar-track{
  background-color: white;
  border-radius: 50%;
}

.scroll::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 10px;
}

.request{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 4%;
  background-color: #F7F7F7;
}

.heading{
  background-color: #F5F5F5;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.heading h1{
  font-size: 2vw;
  font-family: 'Encode Sans SC';
}

.body{
  color: black;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
  background-color: FFE7CC;
}

.body p{
  font-size: 1.7vw;
  text-align: justify;
  padding-bottom: 1%;
}


.pandA .button {
  border-radius: 4px;
  background-color: #e23c52;
  border: none;
  color: #bdfff6;
  text-align: center;
  font-size: 1.3vw;
  padding: 2%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%;
}

.pandA .button h1{
  font-size: 1.3vw;
}

.pandA .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pandA .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  width: 18%;
}

.pandA .button:hover span {
  padding-right: 13%;
}

.pandA .button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ================================================ */

.announcement{
  text-align: center;
}

.announcement h1{
  font-family: 'AudioWide';
  font-size: 2.5vw;
}

.announcement p{
  font-size: 1.7vw;
}






/* ================================================ */

@media (max-width: 500px) {
  .navbar .logo img{
    width: 40%;
  }

  .icon img{
    width: 100%;
    max-width: 40px;
  }

  .container{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }

  .container h1{
    font-family: 'AudioWide';
    margin-top: 5%;
    font-size: 5.5vw;
    text-align: center;
  }

  .container p{
    margin-top: 7%;
    font-size: 3.5vw;
    text-align: justify;
  }

  #word{
    margin-top: 3%;
    font-size: 3.5vw;
  }

/* ================================================ */

  .aboutUs{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(HeadnFooter/mobileBackground.jpg);
    background-size: cover;
    display: block;
    color: white;
    margin-bottom: 5%;
    background-attachment: scroll;
  }
  
  .vision{
    width: 100%;
    padding: 5%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .vision h1{
    font-family: 'AudioWide';
    text-align: center;
    margin-bottom: 2%;
    font-size: 5.5vw;
  }
  
  .vision p{
    font-size: 3.5vw;
    text-align: center;
  }
  
  .vision:hover{
    background-color: white;
    color: black;
  }

  /* ================================================ */

  .pastorContainer{
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
  }
  
  .pastorContainer h1{
    font-family: 'AudioWide';
    font-size: 5.5vw;
    text-align: center;
  }
  
  .pastors{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: block;
    align-items: center;
  }
  
  .pastors img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 50%;
  }
  
  .pText{
    margin-top: 4%;
    margin-left: 0;
    margin-bottom: 20%;
  }
  
  .pText h1{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
  }
  
  .pText p{
    font-size: 2.5vw;
    text-align: center;
  }

/* ================================================ */

.desc{
  display: block;
  justify-content: center;
  background-color: #eceaea;
  padding-top: 10%;
  padding-bottom: 10%;
}

a{
  text-decoration: none;
  color: white;
}

.desc h1{
  font-family: 'AudioWide';
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 7vw;
}

.desc p{
  margin-left: 8%;
  margin-right: 8%;
  font-size: 4vw; 
  padding-bottom: 3%;
  text-align: justify;
}

  .row1{
    display: block;
  }

  .sunday{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(HeadnFooter/sundayMobile.png);
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 0;
    flex: 1;
  }
  
  .sundayDesc{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .sundayDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .sundayDesc h2{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .sundayDesc p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .sundayDesc:hover{
    background-color: #FBEAEB;
    color: #2F3C7E;
  }
  
  /* ================================================ */

  .wildfire{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(HeadnFooter/wildfireMobile.png);
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 5%;
    flex: 1;
  }
  
  .wildfireDesc{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .wildfireDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .wildfireDesc h2{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .wildfireDesc p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .wildfireDesc:hover{
    background-color: yellow;
    color: black;
  }

  /* ================================================ */

  .row2{
    display: block;
    margin-top: -5%;
  }
  
  .j12{
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/kids.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
  }
  
  .j12Desc{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    height: 100%;
  }
  
  .j12Desc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .j12Desc h2{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .j12Desc p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .j12Desc:hover{
    background-color: #00FFFF;
    color: #FF69B4;
  }
  
  /* ================================================ */

  .spearhead{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/Spearheadmobile.png);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
  }
  
  .spearheadDesc{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    height: 100%;
  }
  
  .spearhead h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .spearhead h2{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .spearhead p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .spearheadDesc:hover{
    background-color: #FFE77AFF;
    color: #2C5F2DFF;
  }
  
  /* ================================================ */

  .married{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/married.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
  }
  
  .marriedDesc{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    height: 100%;
  }
  
  .marriedDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .marriedDesc h2{
    font-family: 'AudioWide';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .marriedDesc p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .marriedDesc:hover{
    background-color: #F7C5CC;
    color: #CC313D;
  }
  
  /* ================================================ */

  .equip{
    display: block;
  }
  
  .mentoring{
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/mentoringlandscape.png);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
  }
  
  .mentoringDesc{
    padding-top: 20%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    height: 100%;
  }
  
  .mentoringDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .mentoringDesc p{
    font-size: 4vw;
    text-align: center;
  }
  
  .mentoringDesc:hover{
    background-color: #FFA3FD;
    color: #191825;
  }
  
  /* ================================================ */

  .solclass{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(HeadnFooter/solclassPortrait.png);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
  }
  
  .solDesc{
    padding-top: 15%;
    padding-bottom: 12%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    height: 100%;
  }
  
  .solDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .solDesc p{
    font-size: 4vw;
    text-align: center;
  }
  
  .solDesc:hover{
    background-color: #FBFFB1;
    color: #FFACAC;
  }

  /* ================================================ */
  
  .lifeclass{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(HeadnFooter/Lifeclass.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    flex: 1;
    
  }
  
  .lifeclassDesc{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    height: 100%;
  }
  
  .lifeclassDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .lifeclassDesc p{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%
  }
  
  .lifeclassDesc:hover{
    background-color: #F7C5CC;
    color: #CC313D;
  }

    /* ================================================ */

  .photos{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: block;
    align-items: center;
  }
  
  .mediaImg img{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 50%;
  }
  
  .mediaDesc{
    margin-top: 5%;
    margin-left: 0%;
  }
  
  .mediaDesc h1{
    font-family: 'AudioWide';
    font-size: 6vw;
    text-align: center;
  }
  
  .mediaDesc p{
    font-size: 4vw;
    text-align: center;
  }
  
  .mediaDesc .button {
    display: block;
    border-radius: 4px;
    background-color: #e23c52;
    border: none;
    color: #bdfff6;
    text-align: center;
    padding: 2%;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-top: 3%;
    font-size: 4vw
  }
  
  .button h1{
    font-size: 4vw;
  }
  
  .mediaDesc .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .mediaDesc .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
    width: 20px;
  }
  
  .mediaDesc .button:hover span {
    padding-right: 15%;
  }
  
  .mediaDesc .button:hover span:after {
    opacity: 1;
    right: 0;
  }

   /* ================================================ */

  .pandA{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    justify-content: center;
  }
  
  .prayerReq{
    text-align: center;
  }
  
  .prayerReq h1{
    font-family: 'AudioWide';
    font-size: 6vw;
  }
  
  .prayerReq p{
    font-size: 5vw;
  }
  
  .pandA .button {
    border-radius: 4px;
    background-color: #e23c52;
    border: none;
    color: #bdfff6;
    text-align: center;
    font-size: 1.3vw;
    padding: 2%;
    width: 60%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3%;
    font-size: 4vw
  }
  
  .pandA .button h1{
    font-size: 4vw;
  }
  
  .pandA .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .pandA .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    width: 18%;
  }
  
  .pandA .button:hover span {
    padding-right: 13%;
  }
  
  .pandA .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* ================================================ */
  
  .announcement{
    margin-top: 5%;
    text-align: center;
  }
  
  .announcement h1{
    font-family: 'AudioWide';
    font-size: 6vw;;
  }
  
  .announcement p{
    font-size: 4vw;
  }

}