*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.webTop{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(HeadnFooter/HomeBG.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    background-color: gray;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgb(4, 24, 21); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;  
    color: white;
    font-size: 1.2vw;
}

nav ul li a:hover{
    color: #AAC4FF;
}

.logoIcon{
    width: 60%;
    cursor: pointer;
    margin:  0;
}

.menuIcon{
    width: 35px;
    cursor: pointer;
    display: none;
}

.churchName{
    padding: 5%;
    padding-top: 20%;
    color: white;
}

.churchName h1{
    text-align: center;
    font-size: 9.5vw;
}

.churchName h2{
    text-align: center;
    font-size: 5.5vw;
}

/*==========================================*/

.mgp{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

.mgp .vision, .purpose, .goal{
    flex: 2;
    border: 2px solid white;
    border-radius: 4%;
    margin: 1%;
    padding: 2%;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

.yas{
    text-align: center;
    font-size: 2.4vw;
}

/*==========================================*/

.cText{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cText h1{
    padding-bottom: 15px;
    font-size: 2.5vw;
    margin: 10px;
    margin-right: 52%;
    margin-bottom: 15px;
    border-bottom: 2px solid #B1B2FF;
}

.cText p{
    font-size: 1.5vw;
    margin: 10px;
}

.connects{
    border-radius: 20px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    padding: 30px 20px 30px 20px;
    
}

#connects{
    padding: 5% 0 5% 0;
    background: rgb(250,248,250);
    background: linear-gradient(90deg, rgba(250,248,250,1) 43%, rgba(171,244,247,1) 80%, rgba(166,229,238,1) 100%);
}

.sundayServices{
    border-radius: 20px;
    padding: 5px;
}

.sundayServices img{
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    transition: transform .2s;
}

.sundayServices img:hover{
    overflow: hidden;
    transform: scale(1.1);
}

/*==========================================*/

.jkids{
    border-radius: 20px;
    padding: 5px;
}

.jkids img{
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    transition: transform .2s;
}

.jkids img:hover{
    overflow: hidden;
    transform: scale(1.1);
}

/*==========================================*/

.threePrograms .spearhead{
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}
.threePrograms .spearhead:hover{
    overflow: hidden;
    transform: scale(1.1);
}
.spearhead img{
    display: block;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
}



/*==========================================*/

.threePrograms .married4layp{
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.married4layp img{
    display: block;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
}
.married4layp:hover{
    overflow: hidden;
    transform: scale(1.1);
}



/*==========================================*/

.threePrograms .wildfire{
    margin: 10px;
    border-radius: 20px;
    transition: transform .2s;
}

.wildfire img{
    display: block;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;

}
.wildfire:hover{
    overflow: hidden;
    transform: scale(1.1);
}

/*======================================*/

#equipping{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(EquippingIMGs/BFAgain.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.upperPos{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.text{
    padding: 10px;
}

.description h1{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #B1B2FF;
    font-size: 50px;
    color: white;
}

.description p{
    font-size: 20px;
    text-align: justify;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.choices{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.choices .mentoring{
    flex: 1;
    border: 2px solid #B1B2FF;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    transition: transform .2s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.24); /* Black w/opacity/see-through */
}

.mentoring p{
    text-align: center;
    color: white;
}

.mentoring img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.mentoring:hover{
    transform: scale(1.1);
}

/*----------------------------------------*/

.choices .sol{
    flex: 1;
    border: 2px solid #B1B2FF;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    transition: transform .2s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.24); /* Black w/opacity/see-through */
}

.sol p{
    text-align: center;
    color: white;
}

.sol img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.sol:hover{
    transform: scale(1.1);
}



/*----------------------------------------*/

.choices .lifeclass{
    border: 2px solid #B1B2FF;
    border-radius: 20px;
    flex: 1;
    margin: 10px;
    padding: 30px;
    transition: transform .2s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.24); /* Black w/opacity/see-through */
}

.lifeclass p{
    color: white;
    text-align: center;
}

.lifeclass img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.lifeclass:hover{
    transform: scale(1.1);
}

#nice{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*-----------------------------------------------------*/
.starPlatrinum{
    background: rgb(250,248,250);
    background: linear-gradient(90deg, rgba(250,248,250,1) 43%, rgba(171,244,247,1) 80%, rgba(166,229,238,1) 100%);
}

.media{
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

#images{
    border: 2px solid #B1B2FF;
    border-radius: 5px;
    background: none;
    margin: 10px 0 10px 0;
    padding: 15px;
    cursor: pointer;
    transition: transform .2s;
}

#images:hover{
    transform: scale(1.1);
}

.media .mediaImg img{
    width: 100%;
    border-radius: 50%;
}

.media .mediaText{
    margin-left: 50px;
}

.media .mediaText h1{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #B1B2FF;
    margin-right: 25%;
    font-size: 4vw;
}

.media .mediaText p {
    font-size: 1.3vw;
}

.media .mediaText #noice{
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: bold;
}

/*-----------------------------------------------------*/

.form{
    margin-top: 5%;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.form h1{
    font-size: 40px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #B1B2FF;
    margin-right: 52%;
}

.form p{
    font-size: 20px;
    padding-bottom: 2%;
}

#sform{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: none;
}

.form button{
    padding: 15px;
    font-weight: bold;
    border: #B1B2FF 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    transition: transform .2s;
}

.form button:hover{
    transform: scale(1.1); 
}
/*-----------------------------------------------------*/
.announce1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
}

.announcement{
   margin-right: 80px;
   align-items: center;
}
    
.announcement h1{
    font-size: 3.5vw;
    text-align: right;
}

.announcement p{
    font-size: 2vw;
    text-align: right;
}

.announcement .btn{
    display: flex;
    justify-content: end;
}

.announcement button{
    border: 2px solid #B1B2FF;
    border-radius: 5px;
    background: none;
    margin: 10px 0 10px 0;
    padding: 15px;  
    cursor: pointer;
    transition: transform .2s;
}

.announcement button:hover{
    transform: scale(1.1);
}

.announceImg img{
    width: 100%;
    border-radius: 50%;
}

/*-----------------------------------------------------*/

.bottomLinks{
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    color: white;
    text-align: center;
}

.demnSon{
    margin-right: 2%;
}

.demnSon h1{
    font-size: 3.5vw;
}

.demnSon h1:hover{
    color: #B1B2FF;
}

.demnSon a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

.demnSon a:hover{
    color: #B1B2FF;
    cursor: pointer;
}

.demnSon p{
    font-size: 1.3vw;
}

.demnSon p:hover{
    color: #B1B2FF;
}


/* ================================================ */

.bottomForm{
    width: 60%;
    margin-left: 5%;
}

.bottomForm h1{
    font-size: 2.5vw;
}

.bottomForm p{
    font-size: 1.3vw;
    margin-bottom: 5%;
}

.bottomForm form{
    border: 1px white solid;
    padding: 7%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.bottomForm form label{
    padding-top: 2%;
}

.bottomForm form input{
    width: 100%;
    background: none;
    outline: none;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-bottom: white 1px solid;
    margin-bottom: 2%;
    font-size: 1.3vw;
    color: white;
}

.bottomForm form button{
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    margin: 2px 0 2px 0;
    padding: 15px;  
    color: white;
    cursor: pointer;
    transition: transform .2s;
}

.bottomForm form button:hover{
    transform: scale(1.1);
}

/*-----------------------------------------------------*/

@media only screen and (max-width:500px){

    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logoIcon{
        width: 70px;
    }

    .links{
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .menuIcon{
        width: 60px;
        display: block;
    }

    nav ul{
        width: 100%;
        background: black;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
        font-size: 2.5vw;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .churchName{
        padding: 5%;
        padding-top: 30%;
        padding-bottom: 5%;
    }

    .churchName h1{
       font-size: 60px;
       color: white;
    }

    .churchName h2{
        font-size: 20px;
        color: white;
    }

    .webTop{
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(HeadnFooter/HomeMobile.jpg);
    }

    .mgp{
        padding: 5%;
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }

    .mgp .vision{
        border-radius: 20px;
        margin: 5%;
        flex: 1;
    }

    .mgp .purpose{
        border-radius: 20px;
        margin: 5%;
        flex: 1;
    }

    .mgp .goal{
        border-radius: 20px;
        margin: 5%;
        flex: 1;
    }

    .mgp .vision, .purpose, .goal{
        border: none;
        padding: 8%;
    }

    .mgp h1{
        text-align: center;
        font-size: 30px;
    }

    .mgp p{
        text-align: center;
        font-size: 15px;
    }

    /*===============================================*/
    

    .cText{
        padding: 5%;
        margin: 5%;
        padding-bottom: 1%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .cText h1{
        font-size: 40px;
        padding-bottom: 5%;
        border-bottom: 2px #B1B2FF solid;
    }

    .cText p{
        padding-top: 5%;
        font-size: 20px;
    }

     /*===============================================*/

    .connects{
        display: block;
        justify-content: center;   
        border-radius: 10px;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .twoPrograms{
        display: block;
        justify-content: center;
    }

    .sundayServices{
        width: 330px;
        border-radius: 20px;
        padding: 0;
        margin: auto;
    }
    
    .sundayServices img{
        display: block;
        width: 100%;
    }

    .jkids {
        width: 330px;
        border-radius: 20px;
        padding: 0;
        margin: auto;
        margin-top: 2%;
    }

    .jkids img{
        display: block;
        width: 100%;
    }


    .threePrograms{
        display: block;
        justify-content: center;
    }

    .threePrograms .spearhead{
        display: block;
        width: 330px;
        border-radius: 5px;
        margin: auto;
        margin-top: 2%;
    }
    
    .threePrograms .married4layp{
        display: block;
        width: 330px;
        border-radius: 5px;
        margin: auto;
        margin-top: 2%;
    }

    .threePrograms .wildfire{
        display: block;
        width: 330px;
        border-radius: 5px;
        margin: auto;
        margin-top: 2%;
    }

    /*===============================================*/

    #equipping{
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(EquippingIMGs/BFAgain.jpg);
        background-size: cover;
    }

    .upperPos{
        display: block;
        justify-content: space-evenly;
        margin-left: 0;
        margin-right: 0;
    }
    .images{
        display: none;
    }

    /*===============================================*/

    .text{
        margin-top: 0px;
        margin: 5%;
        padding: 5%;
    }

    .description h1{
        font-size: 40px;
        padding-bottom: 5%;
        border-bottom: 2px #B1B2FF solid;
    }

    .description p{
        padding-top: 5%;
        font-size: 20px;
    }

    .choices{
        display: block;
    }

    .choices .mentoring{
        padding: 5%;
        padding-top: 5%;
        margin: 5%;
        width: 250px;
    }

    .mentoring img{
        display: block;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90px;
    }

    .choices .sol{
        padding: 5%;
        margin: 5%;
        width: 250px;
    }

    .sol img{
        display: block;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90px;
    }

    .choices .lifeclass{
        padding: 5%;
        margin: 5%;
        width: 250px;
    }

    .lifeclass img{
        display: block;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90px;
    }

    /*===============================================*/
    .starPlatrinum{
        background: rgb(250,248,250);
        background: linear-gradient(90deg, rgba(250,248,250,1) 43%, rgba(171,244,247,1) 80%, rgba(166,229,238,1) 100%);
    }
    
    .media{
        padding-top: 20%;
        padding-bottom: 1%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #images{
        border: 2px solid #B1B2FF;
        border-radius: 5px;
        background: none;
        margin: 10px 0 10px 0;
        padding: 15px;
        cursor: pointer;
        transition: transform .2s;
    }
    
    .media .mediaImg img{
        display: none;
    }
    
    .media .mediaText{
        margin-left: 0px;
    }
    
    .media .mediaText h1{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #B1B2FF;
        margin-right: 25%;
        font-size: 40px;
    }
    
    .media .mediaText p {
        font-size: 20px;
    }
    
    .media .mediaText #noice{
        padding-top: 10px;
        padding-bottom: 10px;
        font-style: italic;
        font-weight: bold;
    }

    /*===============================================*/

    .form{
        display: block;
        margin: 5%;
        padding: 5%;
    }

    .form h1{
        margin-right: 0;
        font-size: 40px;
        padding-bottom: 5%;
        border-bottom: 2px #B1B2FF solid;
    }

    .form p{
        padding-top: 5%;
        font-size: 20px;
        padding-bottom: 5%;
    }

    #sform{
        font-size: 20px;
        border-bottom: none;
        margin-bottom: 10px;
        margin: 0;
    }

    .form form{
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    label{
        font-weight: bold;
        font-size: 15px;
    }

    input{
        width: 100%;
        padding: 7px;
        margin-top: 5%;
        margin-bottom: 5%;
        border: none;
        background: none;
        border-bottom: #B1B2FF 2px solid;
    }

    textarea{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 7px;
        height: 100px;
        border: none;
        background: none;
        border-bottom: #B1B2FF 2px solid;
    }

    .form button{
        border: 2px solid #B1B2FF;
        border-radius: 5px;
        background: none;
        margin: 10px 0 10px 0;
        padding: 15px;
        cursor: pointer;
        transition: transform .2s;
    }

    
    .announce1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin: 5%;
        margin-bottom: 0;
    }
    
    .announcement{
       margin-right: 0px;
       align-items: center;
    }
        
    .announcement h1{
        font-size: 40px;
        padding-bottom: 5%;
        border-bottom: 2px #B1B2FF solid;
        text-align: left;
    }
    
    .announcement p{
        font-size: 20px;
        padding-top: 5%;
        text-align: left;
    }

    .announcement .btn{
        display: flex;
        justify-content: start;
    }
    
    .announcement button{
        border: 2px solid #B1B2FF;
        border-radius: 5px;
        background: none;
        margin: 10px 0 10px 0;
        padding: 4%;  
        cursor: pointer;
        transition: transform .2s;
    }
    
    .announcement button:hover{
        transform: scale(1.1);
    }
    
    .announceImg img{
        display: none;
    }

    /* ================================================ */

    .bottomLinks{
        display: flex;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        color: white;
    }
    
    .demnSon{
        margin-right: 2%;
    }
    
    .demnSon h1{
        font-size: 3.5vw;
    }
    
    .demnSon h1:hover{
        color: #B1B2FF;
    }
    
    .demnSon p{
        font-size: 1.3vw;
    }
    
    .demnSon p:hover{
        color: #B1B2FF;
    }
    
    
    /* ================================================ */
    
    .bottomForm{
        width: 60%;
        margin-left: 5%;
    }
    
    .bottomForm h1{
        font-size: 2.5vw;
    }
    
    .bottomForm p{
        font-size: 1.3vw;
        margin-bottom: 5%;
    }
    
    .bottomForm form{
        border: 1px white solid;
        padding: 7%;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    
    .bottomForm form label{
        padding-top: 2%;
    }
    
    .bottomForm form input{
        width: 100%;
        background: none;
        outline: none;
        padding-top: 2%;
        padding-bottom: 2%;
        border: none;
        border-bottom: white 1px solid;
        margin-bottom: 2%;
        font-size: 1.3vw;
        color: white;
    }
    
    .bottomForm form button{
        border: 2px solid white;
        border-radius: 5px;
        background: none;
        margin: 2px 0 2px 0;
        padding: 15px;  
        color: white;
        cursor: pointer;
        transition: transform .2s;
    }
    
    .bottomForm form button:hover{
        transform: scale(1.1);
    }

}
