* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d5e2e1;
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(MediaIMGs/happyYarn.jpg);
}

.header {
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logoo {
    width: 100px;
    margin-left: 10px;
    padding: 10px;
}


.navbar {
    height: 100%;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar li:hover {
   border-bottom: 3px solid cyan;
}

/*-------------------------------------------------------------------*/

.button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.button .noice {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*@media (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        display: flex;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar ul li a {
        padding: .5rem 1rem;
    }

    .navbar.active {
        display: flex;
    }
}

/* Churh Name */

.noice{
    padding: 80px;
    padding-bottom: 160px;
    margin: auto;
    text-align: center;
}

.noice .jil{
    font-size: 100px;
    color: white;
}

/*-------------------------------------------------------------------*/




/*Footer*/ /*-------------------------------------------------------------------*/

.flinks {
    padding: 60px;
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    border-top-style: solid;
}
.flinks .findex{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .findex a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .findex a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fconnects{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fconnects a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fconnects a p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fmedia{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fmedia a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fmedia a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fequipping{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fequipping a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fequipping a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6f828a;
}

.flinks .fannounce{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fannounce a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.flinks .fpr{
    flex-direction: column;
    line-height: 0.5;
}

.flinks .fpr a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* Body */

.mediaBody {
    background-color: #d5e2e1;
    padding: 60px;
    display: flex;
    align-items: center;
}

.mediaBody .mediaImg{
    padding: 30px;
}

.mediaBody .mediaImg img{
    width: 500px;
    border-radius: 50%;
}

.mediaBody .mediaText{
    padding: 20px;
}

.mediaBody .mediaText h1{
    font-size: 50px;
}

.mediaBody .mediaText p {
    font-size: 20px;
}

.mediaBody .mediaText #noice{
    font-style: italic;
    font-weight: bold;
}

/*-----------------------------------------------------*/

.textYarn{
    padding-left: 30px;
}

.textYarn h1{
    font-size: 50px;
}

/*-----------------------------------------------------*/

.imgVid{
    padding: 60px;
    display: flex;
}

.imgVid .imgText {
    position: relative;
    width: 600px;
    margin: 10px;
    overflow: hidden;
    border-radius: 50px;
}

.imgText img{
    display: block;
    width: 100%;
    border-radius: 50px;
}

.imgText .descText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 50px; 
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-bottom: 20px;
    transition: opacity 0.25s;
}


.descText:hover{
    opacity: 0;
    border: 4px solid #6f828a;
}

.imgVid .vidText {
    position: relative;
    width: 600px;
    margin: 10px;
    border-radius: 50px;
    overflow: hidden;
}

.vidText img{
    display: block;
    width: 100%;
    border-radius: 50px;
}

.vidText .descText1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 50px; 
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-bottom: 20px;
    transition: opacity 0.25s;
}


.descText1:hover{
    opacity: 0;
    border: 4px solid #6f828a;
}

a{
    text-decoration: none;
}

.eyyyy{
    background-color: #d5e2e1;
    padding: 20px;
}












