*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.intro{
    margin-top: 2%;
}

.intro h1{
    text-align: center;
}

.container{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.form{
    width: 50%;
    margin: auto;
    justify-content: center;
}


.form .noice{
    width: 80%;
    margin: auto;
}

label{
    display: block;
    text-align: center;
    font-size: 1.2vw;
}

input{
    width: 80%;
    display: block;
    margin: auto;
    font-size: 1.2vw;
    text-align: center;
    padding: 0.5%;
    border: none;
    outline: none;
    border-bottom: gray 1px solid;
}

textarea{
    width: 80%;
    display: block;
    margin: auto;
    font-size: 1.2vw;
    padding: 0.5%;
    border: none;
    outline: none;
    border-bottom: gray 1px solid;
    resize: none;
}

.img{
    width: 50%;
}

.img img{
    width: 100%;
}