@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
  
a{
    text-decoration: none;
    color: black;
}
  
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #2C5F2DFF;
}
::-webkit-scrollbar-thumb {
    background: #FFE77AFF;
}
::selection{
    background: rgb(0,123,255,0.3);
}
.content{
    max-width: 1550px;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    color: #FFE77AFF;
    background: #2C5F2DFF;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 70%;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: #fff;
    font-size: 1.3vw;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: #00FFFF;
    z-index: 2;
}
  
.icon{
    cursor: pointer;
    display: none;
}

.icon img{
    width: 100%;
    max-width: 50px;
}

.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 2;
}
  
.banner{
      width: 100%;
      background-image: linear-gradient(rgba(44,95,45, 0.9),rgba(44,95,45, 0.9)), url(SpearheadIMGs/spearheadBanner.jpg);
      background-size: cover;
      background-position: center;
      color: white;
      padding-top: 10%;
      padding-bottom: 5%;
}
  
#noice{
    font-family: 'Audiowide';
    text-align: center;
    font-size: 1.3vw;
    background-color: #FFE77AFF;
    color: #2C5F2DFF;
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
  
.banner h1{
    font-family: 'Source Code Pro';
    font-size: 10vw;
    text-align: center;
}

/* ================================================ */

.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container h1{
    font-family: 'Source Code Pro';
    text-align: center;
    font-size: 4vw;
}

.container p{
    font-size: 2vw;
    text-align: justify;
    margin-top: 3%;
}

/* ================================================ */

.container1{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.container1 .mvg{
    width: 33%;
    height: 100%;

}


/* ================================================ */

@media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
      z-index: 2;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  
  /* ==================================================== */
  
  @media (max-width: 500px) {
      .navbar .logo img{
        width: 40%;
      }
    
      .icon img{
        width: 100%;
        max-width: 40px;
      }

      .banner{
        width: 100%;
        color: white;
        padding-top: 20%;
        padding-bottom: 10%;
    }

    #noice{
        text-align: center;
        font-size: 3vw;
        background-color: #00FFFF;
        color: #FF69B4;
        margin-left: 38%;
        margin-right: 38%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
    .banner h1{
        font-size: 15vw;
        text-align: center;
    }

