@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: transparent;
}

a img{
  width: 100%;
  max-width: 100px;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #2F3C7E;
}
::-webkit-scrollbar-thumb {
    background: #FBEAEB;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1550px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  color: #FBEAEB;
  background: #2F3C7E;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
  width: 70%;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 1.3vw;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #FBEAEB;
  z-index: 2;
}

.icon{
  cursor: pointer;
  display: none;
}
.icon img{
  width: 100%;
  max-width: 50px;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
}

/* ==================================================== */

.banner{
    width: 100%;
    background-image: linear-gradient(rgba(47,60,126, 0.7),rgba(47,60,126, 0.7)), url(SundaySchooltings/BG.jpg);
    background-size: cover;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}

#noice{
    font-family: 'Audiowide';
    text-align: center;
    font-size: 1.3vw;
    background-color: #FBEAEB;
    color: #2F3C7E;
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.banner h1{
    font-family: 'Amatic SC';
    font-size: 13vw;
    text-align: center;
}

.container{
    display: block;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

#shim{
    margin-top: 3%;
}

.container h1{
    font-family: 'Amatic SC';
    font-size: 4.3vw;
    font-weight: bold;
    text-align: center;
}

.container p{
    font-size: 1.7vw;
    text-align: justify;
}

.containerImg img{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 1%;
}

.containerImg h3{
    font-family: 'Amatic SC';
    margin-bottom: 1%;
    text-align: center;
    font-size: 3vw;
}

.containerImg h1{
    margin-top: 2%;
    font-family: 'Amatic SC';
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2%;
}

/* ==================================================== */

#sermons{
    background-color: #2F3C7E;
    color: #FBEAEB  ;
    padding-top: 5%;
}

.words1{
    display: none;
}

.sermons{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.live{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    width: 80%;
    flex: 2;
    margin-right: 2%;
}

.live h1{
    font-family: 'Amatic SC';
    font-size: 4.3vw;
}

.live iframe{
    left:0;
    top:15%;
    height:100%;
    width:100%;
    position:absolute;
    border-radius: 10px;
}

.pastLive{
    flex: 1;
}

.scroll{
    display: block;
    justify-content: center;
    margin-left: 5%;
    height: 100%;
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}

@media (max-width: 1920px){
    .scroll{
      max-height: 575px;
    }
}

@media (max-width: 1480px){
  .scroll{
    max-height: 450px;
  }
}

@media (max-width: 1350px){
  .scroll{
    max-height: 400px;
  }
}

@media (max-width: 1210px){
  .scroll{
    max-height: 370px;
  }
}

.img1{
    margin: auto;
    margin-top: 5%;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(SundaySchooltings/Archive.jpg);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-radius: 10px;
    flex: 1;
  }
  
  .innerimg1{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
  }

  
  .innerimg1 h2{
    font-family: 'Amatic SC';
    font-size: 3vw;
    text-align: center;
  }
  
  .innerimg1 p{
    font-size: 1.2vw;
    text-align: center;
  }
  
  .innerimg1:hover{
    background-color: #FBEAEB;
    color: #2F3C7E;
  }

.pastLive h1{
    text-align: left;
    font-family: 'Amatic SC';
    font-size: 4.3vw;
}

.words{
    display: none;
}

.bruh{
    display: none;
}

/* ==================================================== */

.subs{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    justify-content: center;
    
}

.subs img{
  width: 50%;
  border-radius: 50%;
}

.sText{
  margin-left: 4%;
}

.sText h1{
  font-family: 'Amatic SC';
  font-size: 3.5vw;
}

.sText p{
  font-size: 1.9vw;
}

.sText button{
  border-radius: 4px;
  background-color: #2F3C7E;
  border: none;
  color: #FBEAEB;
  text-align: center;
  font-size: 1.3vw;
  padding: 2%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%;
}

.sText button h1{
  font-size: 2vw;
}

.sText button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sText button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
  width: 30%;
}

.sText button:hover span {
  padding-right: 13%;
}

.sText button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ==================================================== */

.pandA{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}

.prayerReq{
  text-align: center;
}

.prayerReq h1{
  font-family: 'Amatic SC';
  font-size: 3.5vw;
}

.prayerReq p{
  font-size: 1.7vw;
}

.pandA .button {
  border-radius: 4px;
  background-color: #2F3C7E;
  border: none;
  color: #FBEAEB;
  text-align: center;
  font-size: 1.3vw;
  padding: 2%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%;
}

.pandA .button h1{
  font-size: 2vw;
}

.pandA .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pandA .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
  width: 30%;
}

.pandA .button:hover span {
  padding-right: 13%;
}

.pandA .button:hover span:after {
  opacity: 1;
  right: 0;
}

.announcement{
  text-align: center;
}

.announcement h1{
  font-family: 'Amatic SC';
  font-size: 3.5vw;
}

.announcement p{
  font-size: 1.7vw;
}



/* ==================================================== */

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
    z-index: 2;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}

/* ==================================================== */

@media (max-width: 500px) {
    .navbar .logo img{
      width: 40%;
    }

    
    a img{
      width: 100%;
      max-width: 50px;
    }
  
    .icon img{
      width: 100%;
      max-width: 40px;
    }

    .banner{
        width: 100%;
        background-image: linear-gradient(rgba(47,60,126, 0.7),rgba(47,60,126, 0.7)), url(SundaySchooltings/BG.jpg);
        background-size: cover;
        color: white;
        padding-top: 20%;
        padding-bottom: 10%;
    }
    
    #noice{
        font-family: 'Audiowide';
        text-align: center;
        font-size: 3vw;
        background-color: #FBEAEB;
        color: #2F3C7E;
        margin-left: 38%;
        margin-right: 38%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
    .banner h1{
        font-family: 'Amatic SC';
        font-size: 18vw;
        text-align: center;
    }
    
    .container{
        display: block;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
    }
    
    .container h1{
        margin-top: 10%;
        font-family: 'Amatic SC';
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }
    
    .container p{
        margin-top: 3%;
        font-size: 4vw;
        text-align: justify;
    }

    .containerImg{
        margin-top: 10%;
    }

    .containerImg img{
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 0;
    }

    .containerImg h3{
        margin-top: 1%;
        text-align: center;
        font-size: 5vw;
        font-style: italic;
    }

    .containerImg h1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        font-family: 'Amatic SC';
        font-size: 10vw;
        text-align: center;
        margin-bottom: 10%;
    }

    /* ==================================================== */

    #sermons{
        background-color: #2F3C7E;
        color: #FBEAEB  ;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .words{
        margin-left: 5%;
        display: block;
    }

    .words h1{
        font-family: 'Amatic SC';
        font-size: 8vw;
    }

    .words1{
        margin-top: 5%;
        margin-left: 5%;
        display: block;
    }

    .words1 h1{
        font-family: 'Amatic SC';
        font-size: 8vw;
    }

    .sermons{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    
    .sermons h1{
        display: none;
        font-family: 'Amatic SC';
        font-size: 8vw;
    }

    .live{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        width: 100%;
        flex: 2;
        margin-right: 2%;
    }
    
    .live h1{
        font-family: 'Amatic SC';
        font-size: 6vw;
    }
    
    .live iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        border-radius: 10px;
    }

    .scroll{
        display: none;
    }

    .pastLive{
        display: none;
    }

    .word{
        display: block;
    }

    .bruh{
        max-height: 90px;
        display: flex;
        overflow-x: auto;
        margin-left: 5%;
        margin-right: 7%;
        margin-top: 2%;
        
    }

    .bruh a{
      margin-right: 1%;
    }

    .bruh .noice{
        min-width: 110px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #FBEAEB;
        margin-right: 1%;
        border-radius: 10px;
        color: #2F3C7E;
    }

    .bruh .noice h1{
        font-family:'Amatic SC';
        font-size: 3.9vw;
    }

    .bruh .noice p{
        text-align: center;
    }

    .bruh::-webkit-scrollbar{
        width: 0;
        background-color: #2F3C7E;
    }

  .subs{
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 3%;
      justify-content: center;
  }
  
  .subs img{
      width:90%;
      border-radius: 50%;
      display: block;
      margin: auto;
  }
  
  .sText{
    margin-left: 0%;
  }
  
  .sText h1{
    font-family: 'Amatic SC';
    font-size: 10vw;
    text-align: center;
  }
  
  .sText p{
    font-size: 4vw;
    text-align: center;
  }
  
  .sText button{
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 5vw;
    padding: 2%;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 3%;    
  }
  
  .sText button h1{
    font-size: 5vw;
  }
  
  .sText button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sText button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
    width: 30%;
  }
  .sText button:hover span {
    padding-right: 13%;
  }
  
  .sText button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* ============================================== */

  .pandA{
    display: block;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }
  
  .prayerReq{
    text-align: center;
  }
  
  .prayerReq h1{
    font-family: 'Amatic SC';
    font-size: 10vw;
  }
  
  .prayerReq p{
    font-size: 4vw;
  }
  
  .pandA .button {
    border-radius: 4px;
    background-color: #2F3C7E;
    border: none;
    color: #FBEAEB;
    text-align: center;
    font-size: 4vw;
    padding: 2%;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3%;
  }
  
  .pandA .button h1{
    font-size: 4vw;
  }
  
  .pandA .button span {
    cursor: pointer;
    display: hidden;
    position: relative;
    transition: 0.5s;
  }
  
  .pandA .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -10px;
    transition: 0.5s;
    width: 30%;
    display: hidden;
  }
  
  .pandA .button:hover span {
    padding-right: 13%;
    display: hidden;
  }
  
  .pandA .button:hover span:after {
    opacity: 1;
    right: 0;
    display: hidden;
  }
  
  .announcement{
    margin-top: 5%;
    text-align: center;
  }
  
  .announcement h1{
    font-family: 'Amatic SC';
    font-size: 10vw;
  }
  
  .announcement p{
    font-size: 4vw;
  }
  

}


.bottomLinks{
  display: flex;
  margin-top: 5%;
  background-color: #2F3C7E;
  color: white;
  border-bottom: 5px #FBEAEB  solid;
}

.firstGrid{
  text-align: center;
  border-right: white 1px solid;
  padding: 2%;
  width: 20%;
}

.firstGrid img{
  width: 50%;
}

.firstGrid h1{
  margin-top: 5%;
  text-align: center;
}

.firstGrid a{
  margin-top: 7%;
  color: white;
  font-size: 3.5vw;
  font-family: 'Source Code Pro';
}

.firstGrid p{
  margin-top: 10%;
  font-size: 1vw;
  text-align: left;
  color: white;
  font-family: 'Source Code Pro';
}

/* =================================================== */


.secondGrid{
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  margin-top: 4%;
}

.secondGrid p{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
}

.botli{
  margin-top: 40%;
}

.botli p{
  margin-bottom: 2%;
}

.botli a{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
  color: white;
}

.botli a:hover{
  color: white;
  transition: 0.5s;
}

/* =================================================== */

.thirdGrid{
  width: 20%;
  display: inline-block;
  margin-top: 4%;
}

.thirdGrid p{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
}

.botli{
  margin-top: 40%;
}

.botli p{
  margin-bottom: 2%;
}

.botli a{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
  color: white;
}

.botli a:hover{
  color: #FBEAEB;
  transition: 0.5s;
}

.mobileLinks{
  display: none;
}

@media (max-width: 500px) {
  .bottomLinks{
    display: none;
  }
  
  /* ================================================ */

  .mobileLinks{
    display: block;
    margin-top: 5%;
    background-color: #2F3C7E;
    color: white;
    border-bottom: 5px #FBEAEB  solid;
  }

  .mobileLinks .firstGrid{
    text-align: left;
    border-right: white 0px solid;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    border-bottom: white 1px solid;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .mobileLinks .firstGrid img{
    width: 30%;
    margin-top: 2%;
  }
  
  .mobileLinks .firstGrid h1{
    margin-top: 2%;
    text-align: left;
  }
  
  .mobileLinks .firstGrid a{
    margin-top: 1%;
    font-size: 7vw;
    color: white;
    font-family: 'Source Code Pro';
  }
  
  .mobileLinks .firstGrid p{
    font-size: 3vw;
    color: #FBEAEB;
    font-family: 'Source Code Pro';
  }

  .secondLane{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    width: 100%;
    color: white;
    margin-top: 5%;
  }
  
  .noice{
    margin-bottom: 5%;
    font-size: 4vw;
    font-family: 'Source Code Pro';
  }

  .links{
    margin-top: 5%;
    font-size: 4vw;
  }

  .links a{
    font-family: 'Source Code Pro';
    color: #FBEAEB
  }

}