
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #8aaae5;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  ::selection{
  background: rgb(0,123,255,0.3);
  }


.wholePage{
    display: block;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.header{
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 5%;
    background-image: linear-gradient(rgba(138, 170, 229, 0.8),rgba(138, 170, 229, 0.8)), url(MediaIMGs/banner.jpg);
    background-size: cover;
    background-position: center;
}

.header2{
    padding-top: 2%;
    padding-bottom: 5%;
    background-image: linear-gradient( rgba(47, 60, 126, 0.5) ,rgba(47, 60, 126, 0.5)), url(Gallery/Encounter\ Retreat/er1.jpg);
    background-size: cover;
    background-position: center;
}

.header3{
    padding-top: 2%;
    padding-bottom: 5%;
    background-image: linear-gradient( rgba(43, 174, 102, 0.7) ,rgba(43, 174, 102, 0.7)), url(Gallery/Youth\ Leadership\ Camp/yc1.jpg);
    background-size: cover;
    background-position: center;
}

.header4{
    padding-top: 2%;
    padding-bottom: 5%;
    background-image: linear-gradient( rgb(226, 209, 249, 0.8) ,rgba(226, 209, 249, 0.8)), url(Gallery/Life\ Class\ Retreat/lc1.jpg);
    background-size: cover;
    background-position: center;
}

.header4 h1{
    font-size: 3vw;
    font-family: 'Source Code Pro';
    text-align: center;
    color:  #E2D1F9;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #317773;
}

.header3 h1{
    font-size: 3vw;
    font-family: 'Source Code Pro';
    text-align: center;
    color: #2BAE66;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #FCF6F5;
}

.header2 h1{
    font-size: 3vw;
    font-family: 'Source Code Pro';
    text-align: center;
    color: #2F3C7E;
    margin-right: 33%;
    margin-left: 33%;
    background-color: #FBEAEB;
}

.header h1{
    font-size: 3vw;
    font-family: 'Source Code Pro';
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    background-color: white;
    color: #8aaae5;
}

.home img{  
    margin-left: 2%;
    width: 3%;
    cursor: pointer;    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,  1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
    transition-delay: 200ms;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 5%;
}

.gallery img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,3);
}

@media (max-width: 500px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,  1fr));
        grid-gap: 20px;
    }

    .gallery img{
        width: 100%;
        transition-delay: 200ms;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
        margin-left: 0%;
    }

    .header{
        margin-top: 10%;
        padding-top: 9%;
        padding-bottom: 12%;
    }

    .header2{
        padding-top: 2%;
        padding-bottom: 12%;
    }

    .header3{
        padding-top: 2%;
        padding-bottom: 12%;
    }

    .header4{
        padding-top: 2%;
        padding-bottom: 12%;
    }

    .header4 h1{
        font-size: 6vw;
        margin-right: 15%;
        margin-left: 15%;
    }

    .header3 h1{
        font-size: 6vw;
        margin-right: 20%;
        margin-left: 20%;
    }

    .header2 h1{
        font-size: 6vw;
        margin-right: 20%;
        margin-left: 20%;
    }

    .header h1{
        font-size: 6vw;
        margin-right: 20%;
        margin-left: 20%;
    }

    .home img{  
        margin-left: 2%;
        margin-bottom: 6%;
        width: 5%;
        cursor: pointer;    
    }

}