@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.bgweb{
   width: 100%;
    background-image: linear-gradient(rgba(62, 180, 137,0.8),rgba(62, 180, 137,0.8)), url(LifeClassIMGs/topBG.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    padding-bottom: 5%;
    padding-top: 10%;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #3EB489;
}
::selection{
    background: rgb(0,123,255,0.3);
}


a{
    text-decoration: none;
}

.imageHolder img{
    width: 7%;
    margin-top: 2%;
    margin-left: 2%;
}

.plateName h2{
  text-align: center;
  color: #3EB489;
  background-color: white;
  margin-left: 43%;
  margin-right: 43%;
  font-size: 2vw;
  font-family: 'Pathway Extreme';
}

.intro h1{
    text-align: center;
    font-family: 'Pathway Extreme';
    font-size: 9vw;
}

.intro p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    padding-left: 10%;
    padding-right: 10%;
}

.containerText{
    display: block;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.containerText h1{
  margin-top: 1%;
  text-align: center;
  font-size: 3vw;
  color: #3EB489;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containerText p{
    margin-top: 1%;
    font-size: 1.8vw;
    text-indent: 5%;
    text-align: justify;
}

/* =============================================================== */

.bgcolor{
    background-attachment: fixed;
    margin-bottom: 5%;
}

.containerText2{
    display: block;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.containerText2 h1{
  text-align: center;
  font-size: 3vw;
  color: #3EB489;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containerText2 p{
    margin-top: 1%;
    font-size: 1.8vw;
    text-indent: 5%;
    text-align: justify;
}

.containerText2 ol{
    margin-top: 3%;
}

.containerText2 ol li{
    font-size: 1.4vw;
}

#bottomText{
    margin-top: 1%;
    font-size: 1.3vw;
    text-indent: 0;
    text-align: justify;
    font-style: italic;
}

/* =============================================================== */

.containerForm{
    display: block;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

.containerForm p{
    margin-top: 1%;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace  ;
}

.containerForm button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: none;
    font-size: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    transition: 0.5s;
}

.containerForm button:hover{
  color: white;
  background-color: #3EB489;
  cursor: pointer;
}

/* =============================================================== */

@media(max-width:500px){
    .bgweb{
        width: 100%;
        background-size: cover;
        background-position: center;
        padding-bottom: 10%;
        padding-top: 20%;
    }
    
    .imageHolder img{
        width: 15%;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .plateName h2{
        margin-top: 1%;
        text-align: center;
        margin-left: 35%;
        margin-right: 35%;
        font-size: 4vw;
    }
    
    .intro h1{
        text-align: center;
        font-size: 11vw;
    }
    
    .intro p{
        text-align: center;
        font-size: 4vw;
        padding-left: 4%;
        padding-right: 4%;
    }

    #verse{
        text-align: center;
        font-size: 3.5vw;
        padding-left: 4%;
        padding-right: 4%;
    }

    /* =============================================================== */

    .containerText{
        display: block;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    
    .containerText h1{
        margin-top: 1%;
        text-align: center;
        font-size: 7vw;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .containerText p{
        margin-top: 1%;
        font-size: 4vw;
        text-indent: 5%;
        text-align: justify;
    }
    
    /* =============================================================== */
    
    .bgcolor{
        background-attachment: fixed;
        margin-bottom: 5%;
    }
    
    .containerText2{
        display: block;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .containerText2 h1{
        text-align: center;
        font-size: 7vw;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .containerText2 p{
        margin-top: 1%;
        font-size: 4vw;
        text-indent: 5%;
        text-align: justify;
    }
    
    .containerText2 ol{
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .containerText2 ol li{
        font-size: 3.6vw;
        text-align: justify;
    }
    
    #bottomText{
        margin-top: 1%;
        font-size: 3.5vw;
        text-indent: 0;
        text-align: justify;
        font-style: italic;
    }
    
    /* =============================================================== */
    
    .containerForm{
        display: block;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 3%;
    }
    
    .containerForm p{
        margin-top: 1%;
        font-size: 3.7vw;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .containerForm button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: none;
        font-size: 3.6vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: 1px solid;
        transition: 0.5s;
    }
    
    .containerForm button:hover{
        color: white;
        background-color: #3EB489;
        cursor: pointer;
    }
}

 /* =========================================================== */

 .bottomLinks{
  display: flex;
  background-color: #3EB489;
  color: white;
  border-bottom: 3px white  solid;
  width: 100%;
}

.firstGrid{
  text-align: center;
  border-right: white 1px solid;
  padding: 2%;
  width: 20%;
}

.firstGrid img{
  width: 70%;
}

.firstGrid h1{
  margin-top: 5%;
  text-align: center;
}

.firstGrid a{
  margin-top: 7%;
  color: white;
  font-size: 3.5vw;
  font-family: 'Source Code Pro';
}

.firstGrid p{
  margin-top: 10%;
  font-size: 1vw;
  text-align: left;
  color: white;
  font-family: 'Source Code Pro';
}

/* =================================================== */


.secondGrid{
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  margin-top: 4%;
}

.secondGrid p{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
}

.botli{
  margin-top: 40%;
}

.botli p{
  margin-bottom: 2%;
}

.botli a{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
  color: white;
}

.botli a:hover{
  color: black;
  transition: 0.5s;
}

/* =================================================== */

.thirdGrid{
  width: 20%;
  display: inline-block;
  margin-top: 4%;
}

.thirdGrid p{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
}

.botli{
  margin-top: 40%;
}

.botli p{
  margin-bottom: 2%;
}

.botli a{
  font-family: 'Source Code Pro';
  font-size: 1.2vw;
  color: white;
}

.botli a:hover{
  color: black;
  transition: 0.5s;
}

.mobileLinks{
  display: none;
}

@media (max-width: 500px) {
  .bottomLinks{
      display: none;
    }
    
    /* ================================================ */
  
    .mobileLinks{
      margin: 0;
      display: block;
      background-color: #3EB489;
      color: white;
      border-bottom: 5px white solid;
      overflow-y: hidden;
    }
  
    .mobileLinks .firstGrid{
      text-align: left;
      border-right: white 0px solid;
      width: 80%;
      padding: 2%;
      padding-left: 10%;
      padding-right: 10%;
      border-bottom: white 1px solid;
      padding-top: 10%;
      padding-bottom: 10%;
    }
    
    .mobileLinks .firstGrid img{
      width: 25%;
      margin-top: 2%;
    }
    
    .mobileLinks .firstGrid h1{
      margin-top: 2%;
      text-align: left;

    }
    
    .mobileLinks .firstGrid a{
      margin-top: 1%;
      font-size: 7vw;
      color: white;
      font-family: 'Source Code Pro';
    }
    
    .mobileLinks .firstGrid p{
      font-size: 3vw;
      color: black;
      font-family: 'Source Code Pro';
    }
  
    .secondLane{
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%;
      width: 100%;
      color: white;
      margin-top: 5%;
    }
    
    .noice{
      margin-bottom: 5%;
      font-size: 4vw;
      font-family: 'Source Code Pro';
    }
  
    .links{
      margin-top: 5%;
      font-size: 4vw;
    }
  
    .links a{
      color: black;
      font-family: 'Source Code Pro';
    }
  
}


