
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #8aaae5;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  ::selection{
  background: rgb(0,123,255,0.3);
  }


.banner{
    width: 100%;
    background-image: linear-gradient(rgba(138, 170, 229, 0.8),rgba(138, 170, 229, 0.8)), url(MediaIMGs/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 3%;
}

.banner p{
    margin-top: 5%;
    margin-right: 45%;
    margin-left: 45%;
    text-align: center;
    font-size: 2vw;
    background-color: white;
    color: #8aaae5;
}

.banner h1{
    text-align: center;
    font-size: 6vw;
    padding-bottom: 5%;

}

.home img{
    margin-top: 2%;
    margin-left: 2%;
    width: 3%;
    cursor: pointer;    
}

.breeh{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    position: absolute;
    margin-top: -5%;
}

.gallery{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.gallery .text{
    font-size: 2vw;
    border-left: #8aaae5 15px solid;
    padding-left: 1%;
}

.gallery .text:hover{
    border-color: #00008B;
    transition: 0.5s;
    cursor: pointer;
}

/* =============================================================== */

.row1{
    display: flex;
}

 a{
    text-decoration: none;
}

.news{
    width: 50%;
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 3%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}



.newsInfo{
    padding-top: 30%;
    padding-bottom: 30%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FBEAEB;
    transition: 0.3s;
}

.newsInfo:hover{
    background-color: transparent;
    color: transparent;
}

.newsInfo h1{
    text-align: center;
    font-size: 3vw;
}

.newsInfo p{
    text-align: center;
    font-size: 2vw;
}

/* =============================================================== */

.row2{
    display: flex;
}

 a{
    text-decoration: none;
}

.row2 .news{
    width: 50%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 3%;
    background-image: url(Gallery/Youth\ Leadership\ Camp/yc1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.row2 .news1{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 3%;
    background-image: url(Gallery/Encounter\ Retreat/er1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

/* =============================================================== */


@media (max-width: 500px) {
    .banner{
        margin-top: 10%;
    }

    .banner p{
        font-size: 3vw;
    }

    .banner h1{
        text-align: center;
        font-size: 12vw;
        font-family: 'Sono';   
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    .home img{
        margin-top: 2%;
        margin-left: 2%;
        width: 5%;
        cursor: pointer;
    }

    .breeh{
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
        position: absolute;
    }
    .gallery{
        display: block;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5%;
    }

    /* ======================================================= */

    .text h1{
        font-size: 6vw;
    }

    .row1{
        display: block;
    }

    .row2{
        display: block;
    }

    /* ======================================================= */

    .news{
        width: 100%;
    }

    .news1{
        width: 100%;
    }

    .row2 .news{
        width: 100%;
    }

    .row2 .news1{
        width: 100%;
    }

    .newsInfo{
        padding-top: 20%;
        padding-bottom: 20%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #FBEAEB;
        transition: 0.3s;
    }
    
    .newsInfo:hover{
        background-color: transparent;
        color: transparent;
    }
    
    .newsInfo h1{
        text-align: center;
        font-size: 5vw;
    }
    
    .newsInfo p{
        text-align: center;
        font-size: 3vw;
    }

}