@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Roboto Condensed';
}

a{
    text-decoration: none;
    color: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}
::selection{
  background: rgb(0,123,255,0.3);
}


.textPrayer{
    padding-top: 15%;
}

.textPrayer h1{
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Source Code Pro';
    font-size: 2.5vw;
}

form{
    display: block;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 3%;
    border-radius: 10px;
}

label{
    font-size: 1.2vw;
    font-family: 'Source Code Pro';
}

input{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
    padding: 1%;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#nice{
    width: 5%;
    cursor: pointer;
}

textarea{
    width: 100%;
    resize: none;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
    padding: 1%;
    outline: none;
}

button{
    padding: 2%;
    background-color: #e23c52;
    color: white;
    border: none;
    margin-top: 2%;
    transition: 0.5s;
    font-family: 'Source Code Pro';
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width:500px) {
    .textPrayer{
        padding-top: 40%;
    }
    
    .textPrayer h1{
        text-align: center;
        margin-bottom: 2%;
        font-family: 'Source Code Pro';
        font-size: 5vw;
    }
    
    form{
        display: block;
        margin: auto;
        width: 90%;
        border: 1px solid black;
        padding: 5%;
        border-radius: 10px;
        margin-bottom: 20%;
    }
    
    label{
        font-size: 3vw;
        font-family: 'Source Code Pro';
    }
    
    input{
        width: 100%;
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 3vw;
        padding: 1%;
        outline: none;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    #nice{
        width: 5%;
    }
    
    textarea{
        width: 100%;
        resize: none;
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 1.2vw;
        padding: 1%;
        outline: none;
    }
    
    button{
        padding: 2%;
        border: none;
        margin-top: 2%;
        transition: 0.5s;
        font-family: 'Source Code Pro';
        font-size: 3vw;
        width: 20%;
    }
}

button:hover{
    background-color: black;
}

.bottomLinks{
    display: flex;
    margin-top: 5%;
    background-color: black;
    color: white;
    border-bottom: 5px grey solid;
}
  
.firstGrid{
    text-align: center;
    border-right: white 1px solid;
    padding: 2%;
    width: 20%;
}
  
.firstGrid img{
    width: 50%;
}
  
.firstGrid h1{
    margin-top: 5%;
    text-align: center;
}
  
.firstGrid a{
    margin-top: 7%;
    font-size: 3.5vw;
    font-family: 'Source Code Pro';
    color: white;
}
  
.firstGrid p{
    margin-top: 10%;
    font-size: 1vw;
    text-align: left;
    color: grey;
    font-family: 'Source Code Pro';
}
  
/* =================================================== */
  
  
.secondGrid{
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 4%;
}
  
.secondGrid p{
    font-family: 'Source Code Pro';
    font-size: 1.2vw;
}
  
.botli{
    margin-top: 40%;
}
  
.botli p{
    margin-bottom: 2%;
}
  
.botli a{
    font-family: 'Source Code Pro';
    font-size: 1.2vw;
    color: gray;
}
  
.botli a:hover{
    color: white;
    transition: 0.5s;
}
  
/* =================================================== */
  
.thirdGrid{
    width: 20%;
    display: inline-block;
    margin-top: 4%;
}
  
.thirdGrid p{
    font-family: 'Source Code Pro';
    font-size: 1.2vw;
}
  
.botli{
    margin-top: 40%;
}
  
.botli p{
    margin-bottom: 2%;
}
  
.botli a{
    font-family: 'Source Code Pro';
    font-size: 1.2vw;
    color: gray;
}
  
.botli a:hover{
    color: white;
    transition: 0.5s;
}
  
.mobileLinks{
    display: none;
}

@media (max-width: 500px) {

    .bottomLinks{
        display: none;
    }

    .mobileLinks{
        display: block;
        background-color: black;
      }
    
      .mobileLinks .firstGrid{
        text-align: left;
        border-right: white 0px solid;
        padding: 2%;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        border-bottom: white 1px solid;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      
      .mobileLinks .firstGrid img{
        width: 30%;
        margin-top: 2%;
      }
      
      .mobileLinks .firstGrid h1{
        margin-top: 1%;
        text-align: left;
      }
      
      .mobileLinks .firstGrid a{
        margin-top: 1%;
        font-size: 7vw;
        font-family: 'Source Code Pro';
      }
      
      .mobileLinks .firstGrid p{
        font-size: 3vw;
        color: grey;
        font-family: 'Source Code Pro';
      }
    
      .secondLane{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        width: 100%;
        color: white;
        margin-top: 5%;
      }
      
      .noice{
        margin-bottom: 5%;
        font-size: 4vw;
        font-family: 'Source Code Pro';
      }
    
      .links{
        margin-top: 5%;
        font-size: 4vw;
      }
    
      .links a{
        color: grey;
        font-family: 'Source Code Pro';
      }
}